<div class="env">
  <div class="env-left">
    <div class="title">{{ title }}</div>
    <div class="btn-cont">
      <button class="button" (click)="changeStair()">
        Change Stair - <b>{{ stair_style }}</b>
      </button>

      <button class="button btn-zoom" (click)="zoomIn()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 96 960 960"
          width="24"
        >
          <path
            d="M784 936 532 684q-30 24-69 38t-83 14q-109 0-184.5-75.5T120 476q0-109 75.5-184.5T380 216q109 0 184.5 75.5T640 476q0 44-14 83t-38 69l252 252-56 56ZM380 656q75 0 127.5-52.5T560 476q0-75-52.5-127.5T380 296q-75 0-127.5 52.5T200 476q0 75 52.5 127.5T380 656Zm-40-60v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80Z"
          />
        </svg>
      </button>

      <button class="button btn-zoom" (click)="zoomOut()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 96 960 960"
          width="24"
        >
          <path
            d="M784 936 532 684q-30 24-69 38t-83 14q-109 0-184.5-75.5T120 476q0-109 75.5-184.5T380 216q109 0 184.5 75.5T640 476q0 44-14 83t-38 69l252 252-56 56ZM380 656q75 0 127.5-52.5T560 476q0-75-52.5-127.5T380 296q-75 0-127.5 52.5T200 476q0 75 52.5 127.5T380 656ZM280 516v-80h200v80H280Z"
          />
        </svg>
      </button>
    </div>
  </div>

  <div class="env-right">
    <!-- Controls -->
    <div class="controls">
      <div class="control-lr">
        <div class="arrow-left arrow" (click)="rotateLeft()">
          <img [src]="img_arrow" alt="" />
        </div>
        <div class="arrow-right arrow" (click)="rotateRight()">
          <img [src]="img_arrow" alt="" />
        </div>
      </div>
      <div class="control-ud">
        <div class="arrow-up arrow" (click)="rotateUp()">
          <img [src]="img_arrow" alt="" />
        </div>
        <div class="arrow-down arrow" (click)="rotateDown()">
          <img [src]="img_arrow" alt="" />
        </div>
      </div>
    </div>
    <div #baseEl class="base">
      <!-- Wall & Col -->
      <div class="wall-cont">
        <div class="wall-left">
          <div
            *ngFor="let face of face_list"
            [class]="'face wall-left__' + face"
          >
            <!-- Draw Wall -->
            <div *ngIf="face == 'right'" class="draw-wall-cont">
              <div class="draw-wall">
                <div class="logo">
                  <img [src]="img_logo" alt="" />
                </div>
                <div class="slogan-cont">
                  <div class="label">OUR SLOGAN</div>
                  <div class="slogan">
                    <div>Your Satisfaction</div>
                    <div>Our Success</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wall-back">
          <div
            *ngFor="let face of face_list"
            [class]="'face wall-back__' + face"
          ></div>
        </div>
        <div class="col">
          <div
            *ngFor="let face of face_list"
            [class]="'face col__' + face"
          ></div>
        </div>
      </div>

      <!-- Floor -->
      <div class="floor">
        <div
          *ngFor="let face of face_list"
          [class]="'face floor__' + face"
        ></div>
      </div>

      <!-- Cabinet -->
      <div class="cabinet-cont">
        <div
          *ngFor="let count of [].constructor(7); index as i"
          class="cabinet"
          [class]="'cabinet-' + (i + 1)"
          [style.--cabinet-count]="i"
        >
          <div class="cabinet-top">
            <div
              *ngFor="let face of face_list"
              [class]="'face cabinet-top__' + face"
            ></div>
          </div>
          <div class="cabinet-left">
            <div
              *ngFor="let face of face_list"
              [class]="'face cabinet-left__' + face"
            ></div>
          </div>
          <div class="cabinet-right">
            <div
              *ngFor="let face of face_list"
              [class]="'face cabinet-right__' + face"
            ></div>
          </div>
          <div class="cabinet-front">
            <div
              *ngFor="let face of face_list"
              [class]="'face cabinet-front__' + face"
            ></div>
          </div>
          <div class="cabinet-back">
            <div
              *ngFor="let face of face_list"
              [class]="'face cabinet-back__' + face"
            ></div>
          </div>
        </div>
      </div>

      <!-- Stair Style 1 -->
      <div class="stair-cont stair-style-1" *ngIf="stair_style == 1">
        <div class="stair-step stair-step-lg">
          <div
            *ngFor="let count of [].constructor(this.step_lg_num); index as i"
            class="step"
            [style.--step-count]="i"
          >
            <div
              *ngFor="let face of face_list"
              [class]="'face step__' + face"
            ></div>
          </div>
        </div>
        <div class="stair-step stair-step-sm">
          <div
            *ngFor="let count of [].constructor(this.step_sm_num); index as i"
            class="step"
            [style.--step-count]="i"
          >
            <div
              *ngFor="let face of face_list"
              [class]="'face step__' + face"
            ></div>
          </div>
        </div>
      </div>
      <!-- Stair Style 2 -->
      <div class="stair-cont stair-style-2" *ngIf="stair_style == 2">
        <div class="stair-step stair-step-lg">
          <div
            *ngFor="let count of [].constructor(this.step_lg_num); index as i"
            class="step"
            [style.--step-count]="i"
          >
            <div class="step-top">
              <div
                *ngFor="let face of face_list"
                [class]="'face step-top__' + face"
              ></div>

              <!-- Seat Cushion -->
              <div
                class="seat-cushion"
                [class.seat-cushion-last]="i + 1 == this.step_lg_num"
              >
                <div
                  *ngFor="let face of face_list"
                  [class]="'face seat-cushion__' + face"
                ></div>
              </div>

              <!-- Table Wall -->
              <div
                class="table-wall"
                [class.table-wall-last]="i + 1 == this.step_lg_num"
                [class.table-wall-horizontal]="i == 0 || i == 1"
              >
                <div
                  *ngFor="let face of face_list"
                  [class]="'face table-wall__' + face"
                ></div>
              </div>

              <div *ngIf="i == 3" class="people people_guitarist">
                <img [src]="img_people_guitarist" alt="" />
              </div>

              <div *ngIf="i == 4" class="people people_laptop">
                <img [src]="img_people_laptop" alt="" />
              </div>

              <div *ngIf="i == 0" class="table-mini table-mini-1">
                <div class="table-mini-top">
                  <div
                    *ngFor="let face of face_list"
                    [class]="'face table-mini-top__' + face"
                  ></div>
                </div>
                <div
                  *ngFor="let count of [].constructor(2); index as i"
                  class="table-mini-front"
                  [class]="'table-mini-front-' + (i + 1)"
                >
                  <div
                    *ngFor="let face of face_list"
                    [class]="'face table-mini-front__' + face"
                  ></div>
                </div>
                <div
                  *ngFor="let count of [].constructor(2); index as i"
                  class="table-mini-back"
                  [class]="'table-mini-back-' + (i + 1)"
                >
                  <div
                    *ngFor="let face of face_list"
                    [class]="'face table-mini-back__' + face"
                  ></div>
                </div>
              </div>

              <div *ngIf="i == 2" class="table-mini table-mini-2">
                <div class="table-mini-top">
                  <div
                    *ngFor="let face of face_list"
                    [class]="'face table-mini-top__' + face"
                  ></div>
                </div>
                <div
                  *ngFor="let count of [].constructor(2); index as i"
                  class="table-mini-front"
                  [class]="'table-mini-front-' + (i + 1)"
                >
                  <div
                    *ngFor="let face of face_list"
                    [class]="'face table-mini-front__' + face"
                  ></div>
                </div>
                <div
                  *ngFor="let count of [].constructor(2); index as i"
                  class="table-mini-back"
                  [class]="'table-mini-back-' + (i + 1)"
                >
                  <div
                    *ngFor="let face of face_list"
                    [class]="'face table-mini-back__' + face"
                  ></div>
                </div>
              </div>

              <div *ngIf="i == 3" class="table-mini table-mini-3">
                <div class="table-mini-top">
                  <div
                    *ngFor="let face of face_list"
                    [class]="'face table-mini-top__' + face"
                  ></div>
                </div>
                <div
                  *ngFor="let count of [].constructor(2); index as i"
                  class="table-mini-front"
                  [class]="'table-mini-front-' + (i + 1)"
                >
                  <div
                    *ngFor="let face of face_list"
                    [class]="'face table-mini-front__' + face"
                  ></div>
                </div>
                <div
                  *ngFor="let count of [].constructor(2); index as i"
                  class="table-mini-back"
                  [class]="'table-mini-back-' + (i + 1)"
                >
                  <div
                    *ngFor="let face of face_list"
                    [class]="'face table-mini-back__' + face"
                  ></div>
                </div>
              </div>
            </div>
            <div class="step-front">
              <div
                *ngFor="let face of face_list"
                [class]="'face step-front__' + face"
              ></div>
            </div>
          </div>
        </div>
        <div class="stair-step stair-step-sm">
          <div
            *ngFor="let count of [].constructor(this.step_sm_num); index as i"
            class="step"
            [style.--step-count]="i"
          >
            <div
              *ngFor="let face of face_list"
              [class]="'face step__' + face"
            ></div>
          </div>
        </div>
      </div>

      <!-- Board -->
      <div class="board-cont">
        <div class="board">
          <div
            *ngFor="let face of face_list"
            [class]="'face board__' + face"
          ></div>
        </div>
      </div>

      <!-- Door -->
      <div
        *ngFor="let count of [].constructor(2); index as i"
        class="door"
        [class]="'door-room-' + (i + 1)"
      >
        <div
          *ngFor="let face of face_list"
          [class]="'face door__' + face"
        ></div>
      </div>

      <!-- Projector -->
      <div class="projector">
        <div *ngFor="let face of face_list" [class]="'face projector__' + face">
          <div *ngIf="face == 'front'" class="projector-light">
            <div class="light">
              <div
                *ngFor="let face of face_list"
                [class]="'face light__' + face"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Chair -->
      <div
        *ngFor="let count of [].constructor(3); index as i"
        class="chair"
        [class]="'chair-' + (i + 1)"
      >
        <div *ngFor="let face of face_list" [class]="'face chair__' + face">
          <!-- Chair Cushion -->
          <div
            *ngIf="face == 'top' || face == 'back'"
            class="chair-cushion"
            [class]="'chair-cushion-for-' + face"
          >
            <div
              *ngFor="let face of face_list"
              [class]="'face chair-cushion__' + face"
            ></div>
          </div>
        </div>
      </div>

      <div class="people people_praise">
        <img [src]="img_people_praise" alt="" />
      </div>
    </div>
  </div>
</div>
