<div
  class="floor"
  [style.--floor_width]="room.width"
  [style.--floor_depth]="room.depth"
>
  <div class="stair-cont">
    <div class="stair-step-big">
      <div
        *ngFor="let count of [].constructor(this.step_big_count); index as i"
        class="step-big"
        [style.--step_big_count]="i"
        [style.--step_big_height]="step_big.height"
        [style.--step_big_depth]="step_big.depth"
      >
        <div class="step__front face"></div>
        <div class="step__back face"></div>
        <div class="step__right face"></div>
        <div class="step__left face"></div>
        <div class="step__top face"></div>
        <div class="step__bottom face"></div>
      </div>
    </div>
    <div class="stair-step">
      <div
        *ngFor="let count of [].constructor(this.step_count); index as i"
        class="step"
        [style.--step_count]="i"
        [style.--step_height]="step.height"
        [style.--step_depth]="step.depth"
      >
        <div class="step__front face"></div>
        <div class="step__back face"></div>
        <div class="step__right face"></div>
        <div class="step__left face"></div>
        <div class="step__top face"></div>
        <div class="step__bottom face"></div>
      </div>
    </div>
  </div>
</div>

<div class="stairs">
  <div class="base"></div>
  <div
    class="step"
    [style.--i]="i + 1"
    *ngFor="let step of [].constructor(this.step_big_count); index as i"
  >
    <i></i>
    <i></i>
  </div>
</div>
