/* You can add global styles to this file, and also import other style files */
:root {
  --glass-blue-bg-top: rgba(213, 89, 207, 0.2);
  --glass-blue-bg-left: rgba(43, 131, 252, 0.2);
  --glass-blue-bg-front: rgba(34, 105, 202, 0.2);

  --glass-green-bg-top: rgba(64,192,87, 0.5);
  --glass-green-bg-left: #2F9E44;
  --glass-green-bg-front: #2B8A3E;

  --light-black-bg-top: #585855;
  --light-black-bg-left: #262727;
  --light-black-bg-front: #1E1F20;

//   --cabinet-bg-top: #ffffff;
//   --cabinet-bg-left: #f8f8f8;
//   --cabinet-bg-front: #f4f4f4;

  --cabinet-front-bg-top: rgba(255, 255, 255, 0.4);
  --cabinet-front-bg-left: rgba(255, 255, 255, 0.4);
  --cabinet-front-bg-front: rgba(255, 255, 255, 0.4);

  --gray-bg-top: #FCFCFC;
  --gray-bg-left: #E8E8E8;
  --gray-bg-front: #D6D6D6;

  --wall-bg-top: #FCFCFC;
  --wall-bg-left: #E8E8E8;
  --wall-bg-front: #D6D6D6;

  --wall-back-bg-top: #FCFCFC;
  --wall-back-bg-left: #E8E8E8;
  --wall-back-bg-front: #D6D6D6;

  --floor-bg-top: #FCFCFC;
  --floor-bg-left: #E8E8E8;
  --floor-bg-front: #D6D6D6;

  --wood-bg-top: #e7cfb4;
  --wood-bg-left: #cfbaa2;
  --wood-bg-front: #b8a590;

  --board-bg-top: #FCFCFC;
  --board-bg-left: #E8E8E8;
  --board-bg-front: #D6D6D6;

  --seat-cushion-bg-top: #FFFFFF;
  --seat-cushion-bg-left: #FB6514;
  --seat-cushion-bg-front: #EC4A0A;

  --stair-bg-top: #FCFCFC;
  --stair-bg-left: #E8E8E8;
  --stair-bg-front: #D6D6D6;

  --stair-sm-bg-top: #559cfd;
  --stair-sm-bg-left: #2b83fc;
  --stair-sm-bg-front: #2269ca;

  --door-bg-top: #FCFCFC;
  --door-bg-left: url('/assets/door-1-left.png');
  --door-bg-right: url('/assets/door-1-right.png');
  --door-bg-front: #D6D6D6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform-style: preserve-3d;
  font-family: "Poppins", sans-serif;
}

.face {
  position: absolute;
}

.hide {
  opacity: 0;
  user-select: none;
}

.show {
  opacity: 1;
  user-select: all;
}